[submodule "Mods/smods"]
	path = Mods/smods
	url = https://github.com/Steamodded/smods
[submodule "Mods/Prism"]
	path = Mods/Prism
	url = https://github.com/blazingulag/Prism
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/WilsontheWolf/DebugPlus
[submodule "Mods/SDM_0-s-Stuff"]
	path = Mods/SDM_0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/MoreFluff"]
	path = Mods/MoreFluff
	url = https://github.com/notmario/MoreFluff
[submodule "Mods/Buffoonery"]
	path = Mods/Buffoonery
	url = https://github.com/pinkmaggit-hub/Buffoonery
[submodule "Mods/kcvanilla"]
	path = Mods/kcvanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Mods/Pokermon"]
	path = Mods/Pokermon
	url = https://github.com/InertSteak/Pokermon
[submodule "Mods/Ortalab"]
	path = Mods/Ortalab
	url = https://github.com/Eremel/Ortalab
[submodule "Mods/paperback"]
	path = Mods/paperback
	url = https://github.com/Balatro-Paperback/paperback
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/SpectralPack/Trance
[submodule "Mods/All-In-Jest"]
	path = Mods/All-In-Jest
	url = https://github.com/survovoaneend/All-In-Jest
[submodule "Mods/TOGAPackBalatro"]
	path = Mods/TOGAPackBalatro
	url = https://github.com/TheOneGoofAli/TOGAPackBalatro
[submodule "Mods/my_balatro_mods"]
	path = Mods/my_balatro_mods
	url = https://github.com/betmma/my_balatro_mods
[submodule "Mods/NeatoJokers"]
	path = Mods/NeatoJokers
	url = https://github.com/neatoqueen/NeatoJokers
[submodule "Mods/Maximus"]
	path = Mods/Maximus
	url = https://github.com/the-Astra/Maximus
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/SpectralPack/Talisman
[submodule "Mods/Malverk"]
	path = Mods/Malverk
	url = https://github.com/Eremel/Malverk/
[submodule "Mods/Luna-s-Enhancements"]
	path = Mods/Luna-s-Enhancements
	url = https://github.com/Eremel/Luna-s-Enhancements
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur
[submodule "Mods/ClipsJokers"]
	path = Mods/ClipsJokers
	url = https://github.com/eclipsedsunrise/ClipsJokers
[submodule "Mods/Plantain"]
	path = Mods/Plantain
	url = https://github.com/IcebergLettuce0/Plantain
[submodule "Mods/GardenVarietyJokers"]
	path = Mods/GardenVarietyJokers
	url = https://github.com/Hyper314/GardenVarietyJokers
[submodule "Mods/Mistigris"]
	path = Mods/Mistigris
	url = https://github.com/astrapboy/Mistigris
[submodule "Mods/JokerHub"]
	path = Mods/JokerHub
	url = https://github.com/sup3p/JokerHub
[submodule "Mods/Snow-s-Mods"]
	path = Mods/Snow-s-Mods
	url = https://github.com/RattlingSnow353/Snow-s-Mods
[submodule "Mods/Warpzone"]
	path = Mods/Warpzone
	url = https://github.com/frangnosquest/Warpzone
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/jumbocarrot0/Bunco
[submodule "Mods/Cosmos"]
	path = Mods/Cosmos
	url = https://github.com/neatoqueen/Cosmos
[submodule "Mods/Mossed"]
	path = Mods/Mossed
	url = https://github.com/ScribbleIsError/Mossed
[submodule "Mods/Braptro"]
	path = Mods/Braptro
	url = https://github.com/neddey/Braptro
[submodule "Mods/balatro-victins-collection"]
	path = Mods/balatro-victins-collection
	url = https://github.com/VictinZero/balatro-victins-collection
	branch = alpha
[submodule "Mods/Familiar"]
	path = Mods/Familiar
	url = https://github.com/RattlingSnow353/Familiar
	branch = BetterCalc-Fixes
[submodule "Mods/ExtraCredit"]
	path = Mods/ExtraCredit
	url = https://github.com/GuilloryCraft/ExtraCredit
[submodule "Mods/Revos-Vault"]
	path = Mods/Revos-Vault
	url = https://github.com/Cdrvo/Revos-Vault---Balatro-Mod
[submodule "Mods/KLGB76-Jokers"]
	path = Mods/KLGB76-Jokers
	url = https://github.com/KLGB76/KLGB76-s-Balatro-Joker-Pack
[submodule "Mods/TVFsDecks"]
	path = Mods/TVFsDecks
	url = https://github.com/TVFLabs/TVFsDecks
[submodule "Mods/reverie"]
	path = Mods/reverie
	url = https://github.com/jumbocarrot0/reverie
[submodule "Mods/Punchline"]
	path = Mods/Punchline
	url = https://github.com/gfsgfsPunchlineGuy/Punchline
[submodule "Mods/FemtoLabsCollection"]
	path = Mods/FemtoLabsCollection
	url = https://github.com/SunsetQuasar/FemtoLabsCollection
[submodule "Mods/bonus-jokers"]
	path = Mods/bonus-jokers
	url = https://github.com/Gaph-and-a-half/bonus-jokers
[submodule "Mods/milatro-mod"]
	path = Mods/milatro-mod
	url = https://github.com/milankapitein/milatro-mod/
[submodule "Mods/Lucky-Rabbit"]
	path = Mods/Lucky-Rabbit
	url = https://github.com/Trif3ctal/Lucky-Rabbit
[submodule "Mods/JoeyJokers"]
	path = Mods/JoeyJokers
	url = https://github.com/quinbo007/JoeyJokers
[submodule "Mods/Kingmaxthe2-Joker-Pack"]
	path = Mods/Kingmaxthe2-Joker-Pack
	url = https://github.com/Kingmaxthe2/Kingmaxthe2-Joker-Pack
[submodule "Mods/pi-cubeds-jokers"]
	path = Mods/pi-cubeds-jokers
	url = https://github.com/pi-cubed-cat/pi_cubeds_jokers
[submodule "Mods/Handsome-Devils"]
	path = Mods/Handsome-Devils
	url = https://github.com/AlexanderAndersonAmenAmen/Handsome-Devils-Vanilla-mod-
[submodule "Mods/luckyjimbos"]
	path = Mods/luckyjimbos
	url = https://github.com/MamiKeRiko/luckyjimbos
[submodule "Mods/Emporium"]
	path = Mods/Emporium
	url = https://github.com/krokshut/Emporium
[submodule "Mods/GARBSHIT"]
	path = Mods/GARBSHIT
	url = https://github.com/Gainumki/GARBSHIT
[submodule ".Mods/therkledoodles"]
	path = Mods/therkledoodles
	url = https://github.com/TherkLe/therkledoodles
[submodule "Mods/Unstable"]
	path = Mods/Unstable
	url = https://github.com/kirbio/UnStable/
[submodule "Mods/UnstableEX"]
	path = Mods/UnstableEX
	url = https://github.com/kirbio/UnStableEX
[submodule "Mods/SarcPot"]
	path = Mods/SarcPot
	url = https://github.com/SarcPot/sarcpot-mod
[submodule "Mods/bountiful"]
	path = Mods/bountiful
	url = https://github.com/threeofaband/bountiful
[submodule "Mods/Rofflatro"]
	path = Mods/Rofflatro
	url = https://github.com/MamiKeRiko/Rofflatro
[submodule "Mods/Hallucinations"]
	path = Mods/Hallucinations
	url = https://github.com/Rosocotta/Hallucinations
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "Mods/balatro-plus"]
	path = Mods/balatro-plus
	url = https://github.com/SomeCoder99/balatro-plus
[submodule "Mods/FickleFox"]
	path = Mods/FickleFox
	url = https://github.com/1RedOne/FickleFox
[submodule "Mods/stuffz"]
	path = Mods/stuffz
	url = https://github.com/miniscoped/stuffz
[submodule "Mods/AetherJokers"]
	path = Mods/AetherJokers
	url = https://github.com/BustyCatbot/AetherJokers
[submodule "TooManyDecks"]
	path = Mods/TooManyDecks
	url = https://github.com/Squidguset/TooManyDecks
[submodule "Mods/Unjankify"]
	path = Mods/Unjankify
	url = https://github.com/blazingulag/Unjankify
