[submodule "Mods/smods"]
	path = Mods/smods
	url = https://github.com/Steamodded/smods
[submodule "Mods/Prism"]
	path = Mods/Prism
	url = https://github.com/blazingulag/Prism
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/WilsontheWolf/DebugPlus
[submodule "Mods/SDM_0-s-Stuff"]
	path = Mods/SDM_0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/MoreFluff"]
	path = Mods/MoreFluff
	url = https://github.com/notmario/MoreFluff
[submodule "Mods/Buffoonery"]
	path = Mods/Buffoonery
	url = https://github.com/pinkmaggit-hub/Buffoonery
[submodule "Mods/kcvanilla"]
	path = Mods/kcvanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Mods/Pokermon"]
	path = Mods/Pokermon
	url = https://github.com/InertSteak/Pokermon
[submodule "Mods/Ortalab"]
	path = Mods/Ortalab
	url = https://github.com/Eremel/Ortalab
[submodule "Mods/paperback"]
	path = Mods/paperback
	url = https://github.com/Balatro-Paperback/paperback
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/SpectralPack/Trance
[submodule "Mods/All-In-Jest"]
	path = Mods/All-In-Jest
	url = https://github.com/survovoaneend/All-In-Jest
[submodule "Mods/TOGAPackBalatro"]
	path = Mods/TOGAPackBalatro
	url = https://github.com/TheOneGoofAli/TOGAPackBalatro
[submodule "Mods/my_balatro_mods"]
	path = Mods/my_balatro_mods
	url = https://github.com/betmma/my_balatro_mods
[submodule "Mods/NeatoJokers"]
	path = Mods/NeatoJokers
	url = https://github.com/neatoqueen/NeatoJokers
[submodule "Mods/Maximus"]
	path = Mods/Maximus
	url = https://github.com/the-Astra/Maximus
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/SpectralPack/Talisman
[submodule "Mods/Malverk"]
	path = Mods/Malverk
	url = https://github.com/Eremel/Malverk/
[submodule "Mods/Luna-s-Enhancements"]
	path = Mods/Luna-s-Enhancements
	url = https://github.com/Eremel/Luna-s-Enhancements
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur
[submodule "Mods/ClipsJokers"]
	path = Mods/ClipsJokers
	url = https://github.com/eclipsedsunrise/ClipsJokers
[submodule "Mods/Plantain"]
	path = Mods/Plantain
	url = https://github.com/IcebergLettuce0/Plantain
[submodule "Mods/GardenVarietyJokers"]
	path = Mods/GardenVarietyJokers
	url = https://github.com/Hyper314/GardenVarietyJokers
[submodule "Mods/Mistigris"]
	path = Mods/Mistigris
	url = https://github.com/astrapboy/Mistigris
[submodule "Mods/JokerHub"]
	path = Mods/JokerHub
	url = https://github.com/sup3p/JokerHub
[submodule "Mods/Snow-s-Mods"]
	path = Mods/Snow-s-Mods
	url = https://github.com/RattlingSnow353/Snow-s-Mods
[submodule "Mods/Warpzone"]
	path = Mods/Warpzone
	url = https://github.com/frangnosquest/Warpzone
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/jumbocarrot0/Bunco
[submodule "Mods/Cosmos"]
	path = Mods/Cosmos
	url = https://github.com/neatoqueen/Cosmos
[submodule "Mods/Mossed"]
	path = Mods/Mossed
	url = https://github.com/ScribbleIsError/Mossed
[submodule "Mods/Braptro"]
	path = Mods/Braptro
	url = https://github.com/neddey/Braptro
[submodule "Mods/balatro-victins-collection"]
	path = Mods/balatro-victins-collection
	url = https://github.com/VictinZero/balatro-victins-collection
	branch = alpha
[submodule "Mods/Familiar"]
	path = Mods/Familiar
	url = https://github.com/RattlingSnow353/Familiar
	branch = BetterCalc-Fixes
[submodule "Mods/ExtraCredit"]
	path = Mods/ExtraCredit
	url = https://github.com/GuilloryCraft/ExtraCredit
[submodule "Mods/Revos-Vault"]
	path = Mods/Revos-Vault
	url = https://github.com/Cdrvo/Revos-Vault---Balatro-Mod
[submodule "Mods/KLGB76-Jokers"]
	path = Mods/KLGB76-Jokers
	url = https://github.com/KLGB76/KLGB76-s-Balatro-Joker-Pack
[submodule "Mods/AzzysJokers"]
	path = Mods/AzzysJokers
	url = https://github.com/AstrumNativus/AzzysJokers
[submodule "Mods/TVFsDecks"]
	path = Mods/TVFsDecks
	url = https://github.com/TVFLabs/TVFsDecks
[submodule "Mods/reverie"]
	path = Mods/reverie
	url = https://github.com/jumbocarrot0/reverie
[submodule "Mods/Punchline"]
	path = Mods/Punchline
	url = https://github.com/gfsgfsPunchlineGuy/Punchline
[submodule "Mods/FemtoLabsCollection"]
	path = Mods/FemtoLabsCollection
	url = https://github.com/SunsetQuasar/FemtoLabsCollection
[submodule "Mods/bonus-jokers"]
	path = Mods/bonus-jokers
	url = https://github.com/Gaph-and-a-half/bonus-jokers
[submodule "Mods/milatro-mod"]
	path = Mods/milatro-mod
	url = https://github.com/milankapitein/milatro-mod/
